wled-control.json
[{"id":"5a65da92.c6b704","type":"tab","label":"WLED Roofline","disabled":false,"info":""},{"id":"ad84024d.15511","type":"ui_colour_picker","z":"5a65da92.c6b704","name":"","label":"Primary Color","group":"e9251739.ca6fa8","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":1,"width":"4","height":"1","passthru":false,"topic":"","x":820,"y":160,"wires":[["dfff839b.a94ca"]]},{"id":"7b9653eb.13f73c","type":"ui_colour_picker","z":"5a65da92.c6b704","name":"","label":"Secondary Color","group":"e9251739.ca6fa8","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":2,"width":"4","height":"1","passthru":false,"topic":"","x":830,"y":200,"wires":[["ecc16dbb.b59d6","946b5695.b24a48"]]},{"id":"a55e30e6.f2b67","type":"debug","z":"5a65da92.c6b704","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":180,"wires":[]},{"id":"946b5695.b24a48","type":"debug","z":"5a65da92.c6b704","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":120,"wires":[]},{"id":"f0a87783.496a18","type":"config","z":"5a65da92.c6b704","name":"Active WLED IP","properties":[{"p":"wled_ip","pt":"flow","to":"192.168.1.236","tot":"str"}],"active":true,"x":140,"y":40,"wires":[]},{"id":"f5c1cd8.2ec313","type":"config","z":"5a65da92.c6b704","name":"Active WLED MQTT Topic","properties":[{"p":"wled_topic","pt":"flow","to":"wled/roof","tot":"str"}],"active":true,"x":170,"y":80,"wires":[]},{"id":"b690fa93.134b78","type":"http request","z":"5a65da92.c6b704","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":1120,"wires":[["9ad0d665.75d3b8"]]},{"id":"47c8e7fc.c0f1f8","type":"debug","z":"5a65da92.c6b704","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":1340,"wires":[]},{"id":"a1a5bea2.5a112","type":"template","z":"5a65da92.c6b704","name":"Get JSON Status","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"http://{{flow.wled_ip}}/json","output":"str","x":570,"y":980,"wires":[["17f2a32d.caab3d","db64258e.e33998"]]},{"id":"c6c66fd9.50f6e","type":"function","z":"5a65da92.c6b704","name":"Store Effects Array","func":"flow.set('effects', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1260,"wires":[[]]},{"id":"acf7cb94.852428","type":"function","z":"5a65da92.c6b704","name":"Store Palettes Array","func":"flow.set('palettes', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":1380,"wires":[[]]},{"id":"1db7e4ef.ef333b","type":"ui_dropdown","z":"5a65da92.c6b704","name":"","label":"Effects","tooltip":"","place":"Select option","group":"e9251739.ca6fa8","order":8,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":790,"y":280,"wires":[["324a5e39.4fde62"]]},{"id":"aa800437.d667c8","type":"function","z":"5a65da92.c6b704","name":"Invert Array","func":"var effects = msg.payload;\nmsg.paylod = null;\nmsg.options = [];\nfor (var i=0; i<effects.length; i++) {\n    var t = {};\n    t[effects[i]] = i;\n    msg.options.push(t);\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1300,"wires":[["1db7e4ef.ef333b"]]},{"id":"439a67ea.181e98","type":"debug","z":"5a65da92.c6b704","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":1220,"wires":[]},{"id":"e5796418.e16d48","type":"ui_dropdown","z":"5a65da92.c6b704","name":"","label":"Palettes","tooltip":"","place":"Select option","group":"e9251739.ca6fa8","order":9,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":800,"y":320,"wires":[["976c59fb.a9baa8"]]},{"id":"7b1cbdbc.84bd44","type":"function","z":"5a65da92.c6b704","name":"Invert Array","func":"var palettes = msg.payload;\nmsg.paylod = null;\nmsg.options = [];\nfor (var i=0; i<palettes.length; i++) {\n    var t = {};\n    t[palettes[i]] = i;\n    msg.options.push(t);\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1420,"wires":[["e5796418.e16d48"]]},{"id":"c8587cac.b37bc","type":"function","z":"5a65da92.c6b704","name":"Extract FX Index","func":"msg.payload = msg.payload.seg[0].fx;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":280,"wires":[["1db7e4ef.ef333b","76c1b463.e6a8cc"]]},{"id":"514b71c4.ce871","type":"function","z":"5a65da92.c6b704","name":"Extract Palette Index","func":"msg.payload = msg.payload.seg[0].pal;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":320,"wires":[["e5796418.e16d48","7ca9cb1f.bbf534"]]},{"id":"ec17c380.a153b","type":"function","z":"5a65da92.c6b704","name":"Extract FX Speed","func":"msg.payload = msg.payload.seg[0].sx;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":360,"wires":[["dc933315.a0b0c","a62b2b8e.674d28"]]},{"id":"ba3a7a56.b586c8","type":"function","z":"5a65da92.c6b704","name":"Extract FX Intensity","func":"msg.payload = msg.payload.seg[0].ix;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":400,"wires":[["faa09538.193d98","1d846c30.baa884"]]},{"id":"dc933315.a0b0c","type":"ui_slider","z":"5a65da92.c6b704","name":"","label":"FX Speed","tooltip":"","group":"e9251739.ca6fa8","order":10,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":800,"y":360,"wires":[["97e94e66.064d2"]]},{"id":"faa09538.193d98","type":"ui_slider","z":"5a65da92.c6b704","name":"","label":"FX Intensity","tooltip":"","group":"e9251739.ca6fa8","order":11,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":810,"y":400,"wires":[["922f0e6f.866a7"]]},{"id":"c29b6bc9.8f2218","type":"function","z":"5a65da92.c6b704","name":"Extract Global Brightness","func":"msg.payload = msg.payload.bri;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":440,"wires":[["85f4497c.1962f8","fd06428d.55ab6"]]},{"id":"85f4497c.1962f8","type":"ui_slider","z":"5a65da92.c6b704","name":"","label":"Global Brightness","tooltip":"","group":"e9251739.ca6fa8","order":12,"width":"0","height":"0","passthru":true,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":830,"y":440,"wires":[["dffdc7b4.970d28"]]},{"id":"76c1b463.e6a8cc","type":"debug","z":"5a65da92.c6b704","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":260,"wires":[]},{"id":"7ca9cb1f.bbf534","type":"debug","z":"5a65da92.c6b704","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":300,"wires":[]},{"id":"1d846c30.baa884","type":"debug","z":"5a65da92.c6b704","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":380,"wires":[]},{"id":"a62b2b8e.674d28","type":"debug","z":"5a65da92.c6b704","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":340,"wires":[]},{"id":"fd06428d.55ab6","type":"debug","z":"5a65da92.c6b704","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":420,"wires":[]},{"id":"fc442aa.c247bd8","type":"debug","z":"5a65da92.c6b704","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":1080,"wires":[]},{"id":"da2f3e52.005ee","type":"link out","z":"5a65da92.c6b704","name":"WLED JSON State","links":["c6047e28.18cbb"],"x":1195,"y":1120,"wires":[]},{"id":"c6047e28.18cbb","type":"link in","z":"5a65da92.c6b704","name":"WLED JSON State out","links":["da2f3e52.005ee"],"x":55,"y":120,"wires":[["d2afb654.0a8498","23252d18.3b2dd2"]]},{"id":"16aa3a15.ec3e46","type":"function","z":"5a65da92.c6b704","name":"Extract Power State","func":"msg.payload = msg.payload.on;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":480,"wires":[["6025af61.b6e05","4f22a674.0aee08"]]},{"id":"6025af61.b6e05","type":"debug","z":"5a65da92.c6b704","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":460,"wires":[]},{"id":"4f22a674.0aee08","type":"ui_switch","z":"5a65da92.c6b704","name":"","label":"Power","tooltip":"","group":"e9251739.ca6fa8","order":4,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":791,"y":480,"wires":[["d7085f35.de58"]]},{"id":"e49b2197.53e3","type":"mqtt in","z":"5a65da92.c6b704","name":"","topic":"wled/sample/v","qos":"2","datatype":"auto","broker":"f7c91e5c.d6426","x":120,"y":980,"wires":[["d77b6694.a00fa8"]]},{"id":"2179c116.5eac5e","type":"function","z":"5a65da92.c6b704","name":"Extract Color 1","func":"msg.payload = {\n    \"r\":msg.payload.seg[0].col[0][0],\n    \"g\":msg.payload.seg[0].col[0][1],\n    \"b\":msg.payload.seg[0].col[0][2],\n    \"a\":255\n};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":160,"wires":[["9d0408b2.301188","ad84024d.15511"]]},{"id":"9d0408b2.301188","type":"debug","z":"5a65da92.c6b704","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":140,"wires":[]},{"id":"be5ca004.8412d","type":"debug","z":"5a65da92.c6b704","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":220,"wires":[]},{"id":"c9501dd4.47f9a","type":"link out","z":"5a65da92.c6b704","name":"JSON API","links":["b87ff99d.4500a8"],"x":1235,"y":160,"wires":[]},{"id":"3c9d99ff.b50de6","type":"template","z":"5a65da92.c6b704","name":"JSON API URL","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"http://{{flow.wled_ip}}/json/state","output":"str","x":260,"y":920,"wires":[["6e6a2f91.6bbea"]]},{"id":"b87ff99d.4500a8","type":"link in","z":"5a65da92.c6b704","name":"","links":["c9501dd4.47f9a"],"x":115,"y":920,"wires":[["3c9d99ff.b50de6"]]},{"id":"6bc3c7de.d807f8","type":"http request","z":"5a65da92.c6b704","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":920,"wires":[["79f8eb55.0f80b4"]]},{"id":"79f8eb55.0f80b4","type":"debug","z":"5a65da92.c6b704","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":920,"wires":[]},{"id":"dfff839b.a94ca","type":"function","z":"5a65da92.c6b704","name":"Set Color 1","func":"var color = msg.payload;\nvar command = {\"seg\": []};\ncommand.seg[0]={\"col\": [\n    [color.r,color.g,color.b],\n    [],\n    []\n    ]};\nmsg.payload = command;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":160,"wires":[["c9501dd4.47f9a","2a7599a7.4acd06"]]},{"id":"6e6a2f91.6bbea","type":"json","z":"5a65da92.c6b704","name":"","property":"payload","action":"","pretty":false,"x":430,"y":920,"wires":[["50a08448.1f6ebc","7e5cbb00.8a63d4"]]},{"id":"5f7a75de.7f878c","type":"function","z":"5a65da92.c6b704","name":"Extract Color 2","func":"msg.payload = {\n    \"r\":msg.payload.seg[0].col[1][0],\n    \"g\":msg.payload.seg[0].col[1][1],\n    \"b\":msg.payload.seg[0].col[1][2],\n    \"a\":255\n};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":200,"wires":[["7b9653eb.13f73c","a55e30e6.f2b67"]]},{"id":"ecc16dbb.b59d6","type":"function","z":"5a65da92.c6b704","name":"Set Color 2","func":"var color = msg.payload;\nvar command = {\"seg\": []};\ncommand.seg[0]={\"col\": [\n    [],\n    [color.r,color.g,color.b],\n    []\n]};\nmsg.payload = command;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":200,"wires":[["c9501dd4.47f9a","2a7599a7.4acd06"]]},{"id":"82956262.d9b26","type":"function","z":"5a65da92.c6b704","name":"Extract Color 3","func":"msg.payload = {\n    \"r\":msg.payload.seg[0].col[2][0],\n    \"g\":msg.payload.seg[0].col[2][1],\n    \"b\":msg.payload.seg[0].col[2][2],\n    \"a\":255\n};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":240,"wires":[["cc3ecc6.22e433","be5ca004.8412d"]]},{"id":"cc3ecc6.22e433","type":"ui_colour_picker","z":"5a65da92.c6b704","name":"","label":"Tertiary Color","group":"e9251739.ca6fa8","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":3,"width":"4","height":"1","passthru":false,"topic":"","x":810,"y":240,"wires":[["9b01202b.14d22"]]},{"id":"9b01202b.14d22","type":"function","z":"5a65da92.c6b704","name":"Set Color 3","func":"var color = msg.payload;\nvar command = {\"seg\": []};\ncommand.seg[0]={\"col\": [\n    [],\n    [],\n    [color.r,color.g,color.b]\n    ]};\nmsg.payload = command;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":240,"wires":[["c9501dd4.47f9a","2a7599a7.4acd06"]]},{"id":"d8ed149e.863a48","type":"function","z":"5a65da92.c6b704","name":"Store WLED State","func":"flow.set('wled_state', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":520,"wires":[["21a250c5.7ae91"]]},{"id":"21a250c5.7ae91","type":"debug","z":"5a65da92.c6b704","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":500,"wires":[]},{"id":"2a7599a7.4acd06","type":"link out","z":"5a65da92.c6b704","name":"WLED Status Trigger","links":["d3abfbb1.24c268"],"x":1235,"y":420,"wires":[]},{"id":"d3abfbb1.24c268","type":"link in","z":"5a65da92.c6b704","name":"WLED Status Trigger out","links":["2a7599a7.4acd06"],"x":175,"y":1020,"wires":[["d77b6694.a00fa8"]]},{"id":"976c59fb.a9baa8","type":"function","z":"5a65da92.c6b704","name":"Set Palette","func":"var palette = msg.payload;\nvar command = {\"seg\": []};\ncommand.seg[0]={\"pal\": palette};\nmsg.payload = command;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":320,"wires":[["c9501dd4.47f9a"]]},{"id":"324a5e39.4fde62","type":"function","z":"5a65da92.c6b704","name":"Set Effect","func":"var effect = msg.payload;\nvar command = {\"seg\": []};\ncommand.seg[0]={\"fx\": effect};\nmsg.payload = command;\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":280,"wires":[["c9501dd4.47f9a"]]},{"id":"97e94e66.064d2","type":"function","z":"5a65da92.c6b704","name":"Set FX Speed","func":"var speed = msg.payload;\nvar command = {\"seg\": []};\ncommand.seg[0]={\"sx\": speed};\nmsg.payload = command;\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":360,"wires":[["c9501dd4.47f9a"]]},{"id":"922f0e6f.866a7","type":"function","z":"5a65da92.c6b704","name":"Set FX Intensity","func":"var ix = msg.payload;\nvar command = {\"seg\": []};\ncommand.seg[0]={\"ix\": ix};\nmsg.payload = command;\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":400,"wires":[["c9501dd4.47f9a"]]},{"id":"dffdc7b4.970d28","type":"function","z":"5a65da92.c6b704","name":"Set Brightness","func":"var bri = msg.payload;\nvar command = {\"bri\": bri};\nmsg.payload = command;\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":440,"wires":[["c9501dd4.47f9a","2a7599a7.4acd06"]]},{"id":"d7085f35.de58","type":"function","z":"5a65da92.c6b704","name":"Set Power","func":"var pwr = msg.payload;\nvar command = {\"on\": pwr};\nmsg.payload = command;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":480,"wires":[["c9501dd4.47f9a"]]},{"id":"e18e11d3.158c2","type":"function","z":"5a65da92.c6b704","name":"Extract Sync RX State","func":"msg.payload = msg.payload.udpn.recv;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":560,"wires":[["f2ff0d88.ffb11","6696d6ec.68ef88"]]},{"id":"f2ff0d88.ffb11","type":"debug","z":"5a65da92.c6b704","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":540,"wires":[]},{"id":"6696d6ec.68ef88","type":"ui_switch","z":"5a65da92.c6b704","name":"","label":"RX Sync","tooltip":"","group":"e9251739.ca6fa8","order":6,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":801,"y":560,"wires":[["77a8327.1eaa4cc"]]},{"id":"77a8327.1eaa4cc","type":"function","z":"5a65da92.c6b704","name":"Set RX Sync","func":"var sync_rx = msg.payload;\nvar command = {\"udpn\": []};\ncommand.udpn = {\"recv\": sync_rx};\nmsg.payload = command;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":560,"wires":[["c9501dd4.47f9a","2a7599a7.4acd06"]]},{"id":"20fbaa83.0ea3c6","type":"comment","z":"5a65da92.c6b704","name":"Dusk/Dawn and On/Off Schedule","info":"","x":770,"y":700,"wires":[]},{"id":"c49409c6.65d348","type":"comment","z":"5a65da92.c6b704","name":"Latest state in flow.get('wled_state')","info":"","x":880,"y":520,"wires":[]},{"id":"89373cdb.28a3f","type":"bigtimer","z":"5a65da92.c6b704","outtopic":"","outpayload1":"55","outpayload2":"128","name":"Roofline Lights","comment":"Brighter at Dawn, Darker at Dusk","lat":"37.09024","lon":"-95.71289","starttime":5001,"endtime":"5000","starttime2":0,"endtime2":0,"startoff":0,"endoff":"60","startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":640,"y":760,"wires":[["a8f0a4d6.85ae28"],[],[]]},{"id":"a5161bc7.657748","type":"function","z":"5a65da92.c6b704","name":"Extract Sync TX State","func":"msg.payload = msg.payload.udpn.send;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":600,"wires":[["a09c0f8c.c4f54"]]},{"id":"a09c0f8c.c4f54","type":"ui_switch","z":"5a65da92.c6b704","name":"","label":"TX Sync","tooltip":"","group":"e9251739.ca6fa8","order":7,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":801,"y":600,"wires":[["6b0d70dd.a3bf8"]]},{"id":"6b0d70dd.a3bf8","type":"function","z":"5a65da92.c6b704","name":"Set TX Sync","func":"var sync_tx = msg.payload;\nvar command = {\"udpn\": []};\ncommand.udpn = {\"send\": sync_tx};\nmsg.payload = command;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":600,"wires":[["c9501dd4.47f9a","2a7599a7.4acd06"]]},{"id":"17f2a32d.caab3d","type":"debug","z":"5a65da92.c6b704","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":980,"wires":[]},{"id":"d9ca7603.4917a8","type":"inject","z":"5a65da92.c6b704","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":350,"y":1020,"wires":[["a1a5bea2.5a112"]]},{"id":"50a08448.1f6ebc","type":"debug","z":"5a65da92.c6b704","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":860,"wires":[]},{"id":"64132b55.fc96b4","type":"function","z":"5a65da92.c6b704","name":"Extract Playlist Cycle","func":"var pl_status = msg.payload.pl;\nif (pl_status<0) {\n    msg.payload=false;\n} else {\n    msg.payload=true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":640,"wires":[["da4117de.0b03f8"]]},{"id":"da4117de.0b03f8","type":"ui_switch","z":"5a65da92.c6b704","name":"","label":"Cycle","tooltip":"","group":"e9251739.ca6fa8","order":5,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":791,"y":640,"wires":[["d13dd2df.0e24c"]]},{"id":"d13dd2df.0e24c","type":"function","z":"5a65da92.c6b704","name":"Set PL Cycle","func":"var cycle = msg.payload;\nif (cycle) {\n    cycle = 0;\n} else {\n    cycle = -1;\n}\nvar command = {\"pl\": cycle};\nmsg.payload = command;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":640,"wires":[["c9501dd4.47f9a","2a7599a7.4acd06"]]},{"id":"d2afb654.0a8498","type":"trigger","z":"5a65da92.c6b704","d":true,"op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"750","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":120,"y":180,"wires":[["2179c116.5eac5e","5f7a75de.7f878c","82956262.d9b26","c8587cac.b37bc","514b71c4.ce871","ec17c380.a153b","ba3a7a56.b586c8","c29b6bc9.8f2218","16aa3a15.ec3e46","d8ed149e.863a48","e18e11d3.158c2","a5161bc7.657748","64132b55.fc96b4"]]},{"id":"b6c99c7a.7d5ee","type":"debug","z":"5a65da92.c6b704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":740,"wires":[]},{"id":"3bb5595c.55d606","type":"comment","z":"5a65da92.c6b704","name":"Grab JSON API Status","info":"","x":200,"y":880,"wires":[]},{"id":"4b05c006.cf164","type":"change","z":"5a65da92.c6b704","name":"Extract State","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1120,"wires":[["2221739d.92a6ac","da2f3e52.005ee"]]},{"id":"2221739d.92a6ac","type":"debug","z":"5a65da92.c6b704","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":1080,"wires":[]},{"id":"3599a55d.730f4a","type":"change","z":"5a65da92.c6b704","name":"Extract Palette List","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.palettes","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1200,"wires":[["5c3fc24c.1d052c"]]},{"id":"5e2996f1.6fc248","type":"change","z":"5a65da92.c6b704","name":"Extract Effect List","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.effects","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1160,"wires":[["e3a3b341.117ed"]]},{"id":"e3a3b341.117ed","type":"link out","z":"5a65da92.c6b704","name":"WLED JSON Effect Out","links":["8e93362a.4bb098"],"x":1195,"y":1160,"wires":[]},{"id":"5c3fc24c.1d052c","type":"link out","z":"5a65da92.c6b704","name":"WLED JSON Palettes Out","links":["7179b318.2d1a3c"],"x":1195,"y":1200,"wires":[]},{"id":"8e93362a.4bb098","type":"link in","z":"5a65da92.c6b704","name":"WLED JSON Effects In","links":["e3a3b341.117ed"],"x":115,"y":1260,"wires":[["75538b1c.c2fb24"]]},{"id":"7179b318.2d1a3c","type":"link in","z":"5a65da92.c6b704","name":"WLED JSON Palettes In","links":["5c3fc24c.1d052c"],"x":115,"y":1360,"wires":[["195f62d0.55829d"]]},{"id":"34ebe43f.1209cc","type":"comment","z":"5a65da92.c6b704","name":"Config nodes hold IP address and MQTT topic","info":"","x":490,"y":40,"wires":[]},{"id":"75538b1c.c2fb24","type":"delay","z":"5a65da92.c6b704","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":260,"y":1260,"wires":[["439a67ea.181e98","c6c66fd9.50f6e","aa800437.d667c8"]]},{"id":"195f62d0.55829d","type":"delay","z":"5a65da92.c6b704","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":260,"y":1360,"wires":[["47c8e7fc.c0f1f8","acf7cb94.852428","7b1cbdbc.84bd44"]]},{"id":"7e5cbb00.8a63d4","type":"delay","z":"5a65da92.c6b704","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":920,"wires":[["6bc3c7de.d807f8"]]},{"id":"db64258e.e33998","type":"delay","z":"5a65da92.c6b704","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":140,"y":1120,"wires":[["b690fa93.134b78"]]},{"id":"c8f1a541.a95bb8","type":"inject","z":"5a65da92.c6b704","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":700,"wires":[["89373cdb.28a3f"]]},{"id":"d5837944.5fa038","type":"inject","z":"5a65da92.c6b704","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":740,"wires":[["89373cdb.28a3f"]]},{"id":"6c9f3a59.7ac3d4","type":"inject","z":"5a65da92.c6b704","name":"","topic":"","payload":"manual","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":780,"wires":[["89373cdb.28a3f"]]},{"id":"cc98baeb.3cb208","type":"inject","z":"5a65da92.c6b704","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":820,"wires":[["89373cdb.28a3f"]]},{"id":"a8f0a4d6.85ae28","type":"function","z":"5a65da92.c6b704","name":"Clean up","func":"var payload = parseInt(msg.payload);\nmsg = {};\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":740,"wires":[["b6c99c7a.7d5ee","dffdc7b4.970d28"]]},{"id":"23252d18.3b2dd2","type":"trigger","z":"5a65da92.c6b704","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"1","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":110,"y":220,"wires":[["2179c116.5eac5e","5f7a75de.7f878c","82956262.d9b26","c8587cac.b37bc","514b71c4.ce871","ec17c380.a153b","ba3a7a56.b586c8","c29b6bc9.8f2218","16aa3a15.ec3e46","d8ed149e.863a48","e18e11d3.158c2","a5161bc7.657748","64132b55.fc96b4"]]},{"id":"d77b6694.a00fa8","type":"delay","z":"5a65da92.c6b704","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":340,"y":980,"wires":[["a1a5bea2.5a112"]]},{"id":"fa93dfbc.f43c","type":"switch","z":"5a65da92.c6b704","name":"Pass if not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":1120,"wires":[["fc442aa.c247bd8","4b05c006.cf164","5e2996f1.6fc248","3599a55d.730f4a"]]},{"id":"9ad0d665.75d3b8","type":"switch","z":"5a65da92.c6b704","name":"Check success","property":"payload.statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":1120,"wires":[["fa93dfbc.f43c"]]},{"id":"e9251739.ca6fa8","type":"ui_group","z":"","name":"Strip Roofline","tab":"3d5edff1.4b44c","order":1,"disp":true,"width":"6","collapse":true},{"id":"f7c91e5c.d6426","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3d5edff1.4b44c","type":"ui_tab","z":"","name":"Christmas","icon":"dashboard"}]
